<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= @products.each do |product| %>
        <table>
          <thead>
            <tr>
              <th colspan="1"></th>
              <th>商品名</th>
              <th>単価</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag product, :image, fallback:"no-image.png", size: '80x50' %>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>