<div class="container">
  <div class="row">
    <div class="col-md-4 bg-light text-center">注文履歴一覧</div>
  </div>

  <div class="row">
    <div class="col-md-9 mx-auto">
      <table class="table table-stripped">
        <thead>
          <tr class="order-info">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><% link_to order.created_at, admin_orders_path(order.id) %></td>
            <td><%#= order.product.name %></td>
            <td><%= order.order_details.count %></td>
            <td><%= order.order_status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!--<div class="text-center"><%#= paginate(@orders) %></div>-->
</div>

