<div class="container mt-3">
<div class="row">
    <div class='col-md-3'>
      <h2>ジャンル編集</h2>

      <p>ジャンル名</p>
        <%= form_for @genre, url: admin_genre_path(@genre.id) do |f| %>
        <%= f.text_field :name, class: 'form-control genre_name' %>
        <%= f.submit "変更を保存",class: 'btn btn-success' %>
       <% end %>
    </div>
</div>
</div>