<h1 class="text-center my-5">About</h1>
<p class="text-center">
  ながのCAKEは全国発送可能なケーキ屋さんです。<br/>
  お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br/>
  様々なバリエーションをご⽤意しております。<br/>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br/>
  ぜひご注⽂ください。
</p>
<!--//////修正が必要////////-->
<div class="d-flex">
  <div class="about-image"><%= image_tag('images/shortcake.jpg') %></div>
  <div class="about-image"><%= image_tag('images/choco-cake.jpg') %></div>
  <div class="about-image"><%= image_tag('images/ecu.jpg') %></div>
  <img src="images/can.jpg"/>
</div>
<div class="social">
  <i class="fab fa-facebook-square"></i>
  <i class="fab fa-twitter-square"></i>
  <i class="fab fa-instagram"></i>
</div>