<% if product.errors.any? %>
  <div class="text-danger alert alert-warning">
    【<%= product.errors.count %>件のエラーが発生しました】<br>
    <%= product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
<% end %>

