/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

#notice {
  color: green;
}

body {
// font-family: 'HiraMinPro-W6' ;
// font-family: 'Hannotake TC' ;
font-family: 'HanziPen SC' ;
}

.cart{
  background-color: #F3EBF6;
  height: 100%;
  width: 100%;
}
.application {
  margin:0px;
  padding:0px;
}

body {
  background-color: #f5f2eb;
  color: #592e15;
}

main {
  color: #592e15;
}

/* Header */

header {
  font-size: 15px;
  background-color: #eee9dd;
  color: #592e15;
}


/* Footer */

footer {
  color: #592e15;
  background-color: #eee9dd;
}

.favorite-color {
  color: red;
}